POSTGRES_URL=YOUR_POSTGRES_DB_URL

REDIS_URL=YOUR_REDIS_DB_URL

ADMIN_KEY=SECURE_RANDOM_SECRET_STRING

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID

GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

REDIS_PREFIX=YOUR_APP_NAME_FOR_REDIS_PREFIX

FRONTEND_URL=YOUR_FRONTEND_URL

BACKEND_URL=YOUR_BACKEND_URL

IMAGEKIT_PUBLIC_KEY=YOUR_IMAGEKIT_PUBLIC_KEY

IMAGEKIT_PRIVATE_KEY=YOUR_IMAGEKIT_PRIVATE_KEY

IMAGEKIT_URL_ENDPOINT=YOUR_IMAGEKIT_URL_ENDPOINT



